name: EMS Downloader Build
on:
  push:
    branches: [ "main" ]
  workflow_dispatch:

jobs:
  build:
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v4
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.10'
      - name: Install Dependencies
        run: |
          python -m pip install --upgrade pip
          pip install customtkinter requests yt-dlp pillow cryptography pyinstaller
      - name: Build Portable EXE
        run: |
          pyinstaller --onefile --noconsole --name "EMS_Stream_Downloader" --collect-all customtkinter --collect-all PIL main.py
      - name: Upload Artifact
        uses: actions/upload-artifact@v4
        with:
          name: EMS_Downloader_Exe
          path: dist/EMS_Stream_Downloader.exe
